PENPOT_VERSION=replace-with-penpot-version
PENPOT_PUBLIC_URI=http://localhost:9001
PENPOT_SECRET_KEY=replace-with-random-secret
PENPOT_DATABASE_MODE=local
PENPOT_VALKEY_MODE=local
PENPOT_FLAGS=enable-prepl-server
PENPOT_HTTP_SERVER_MAX_BODY_SIZE=367001600
PENPOT_HTTP_SERVER_MAX_MULTIPART_BODY_SIZE=367001600
PENPOT_TELEMETRY_ENABLED=true
PENPOT_TELEMETRY_REFERER=aws
PENPOT_DATABASE_URI=postgresql://penpot-postgres/penpot
PENPOT_DATABASE_USERNAME=penpot
PENPOT_DATABASE_PASSWORD=penpot
PENPOT_DATABASE_HOST=penpot-postgres
PENPOT_DATABASE_PORT=5432
PENPOT_DATABASE_NAME=penpot
PENPOT_REDIS_URI=redis://penpot-valkey/0
COMPOSE_PROFILES=local-valkey
PENPOT_OBJECTS_STORAGE_BACKEND=fs
PENPOT_OBJECTS_STORAGE_FS_DIRECTORY=/opt/data/assets
PENPOT_SMTP_DEFAULT_FROM=no-reply@example.com
PENPOT_SMTP_DEFAULT_REPLY_TO=no-reply@example.com
PENPOT_SMTP_HOST=
PENPOT_SMTP_PORT=587
PENPOT_SMTP_USERNAME=
PENPOT_SMTP_PASSWORD=
PENPOT_SMTP_TLS=true
PENPOT_SMTP_SSL=false
